@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

* {
    margin : 0;
    padding: 0;
}

body {
    background-color: #f7f7f7;
    font-family     : 'Roboto', sans-serif;
    color           : #242424;
    font-size       : 24px;
    font-weight     : 100;
    box-sizing      : border-box;
}

.center_text {
    text-align   : center;
    margin-bottom: 24px;
    margin-top   : 24px;
}

.header {
    min-width       : 1300px;
    border-bottom   : 1px solid #b5b7ba;
    background-color: #dfdfdf;
    margin          : 0 auto;
    height          : 50px;
    text-align      : center;
    padding-top     : 18px;
}

.header .selected {
    color: #000;
}

.center {
    width : 1300px;
    margin: 0 auto;
}

.header a {
    color          : #4d4d4d;
    font-size      : 20px;
    font-weight    : 100;
    text-align     : left;
    text-decoration: none;
    height         : 30px;
    line-height    : 30px;
    display        : inline-block;
    padding-right  : 40px;
}

.button_menu:hover {
    color : #434445;
    filter: drop-shadow(8px 8px 8px #dfdfdf);
}

.header span {
    padding: 0 38px;
}

.content {
    min-width : 1300px;
    margin    : 0 auto;
    min-height: calc(100vh - 140px);
}

.content h1 {
    width        : 100%;
    float        : left;
    text-align   : center;
    color        : #2e353d;
    font-size    : 40px;
    font-weight  : 300;
    margin-top   : 63px;
    margin-bottom: 75px;
}

.content h3 {
    color        : #242424;
    font-size    : 35px;
    font-weight  : 300;
    text-align   : left;
    margin-left  : 41px;
    margin-bottom: 52px;
}

.content h5 {
    color     : #242424;
    font-size : 24px;
    text-align: left;
}

.photo {
    margin-left  : 17px;
    width        : 389px;
    border-radius: 50%;
}

.content .box_text {
    width           : 671px;
    background-color: #ffffff;
    float           : right;
    padding         : 49px 48px 51px 76px;
    margin-bottom   : 100px;
}

.content .box_text p {
    color        : #242424;
    font-size    : 24px;
    font-weight  : 100;
    text-align   : left;
    margin-bottom: 31px;
}

.content .box_text a {
    color          : #40678a;
    font-size      : 24px;
    font-weight    : 100;
    text-align     : center;
    text-decoration: none;
    padding-right  : 30px;
}


.content .media {
    margin-right: 0;
}

.content .box {
    background-color: #ffffff;
    width           : 1238px;
    min-height      : 500px;
    margin          : 50px auto 0 auto;
    padding-top     : 37px;
    padding-left    : 38px;
    padding-bottom  : 100px;
}

.content .box p {
    color        : #242424;
    font-size    : 24px;
    font-weight  : 100;
    text-align   : left;
    margin-top   : 37px;
    margin-bottom: 30px;
}

.content .box input {
    border          : 1px solid #a0a0a0;
    background-color: #f5f5f5;
    width           : 457px;
    height          : 34px;
    padding-left    : 10px;
    font-size       : 20px;
    font-weight     : 100;
    margin-bottom   : 12px;
}

.content .box a {
    display         : block;
    float           : left;
    background-color: #8cbbd3;
    color           : #ffffff;
    font-size       : 24px;
    font-weight     : 300;
    text-align      : center;
    text-decoration : none;
    margin-top      : 30px;
    padding         : 11px 51px;
}

.content .box a:hover {
    background-color: #5ba1d3;
}

.footer {
    background-color: #434445;
    width           : 100%;
    float           : left;
    height          : 140px;
    text-align      : center;
    color           : #a4a4a4;
    font-size       : 20px;
    font-weight     : 100;
    line-height     : 140px;
}

.footer a {
    color: inherit;
}

.products {
    display              : grid;
    grid-template-columns: repeat(3, 250px);
    grid-gap             : 20px;
    justify-content      : space-evenly;
}

.product {
    width         : 250px;
    display       : flex;
    flex-direction: column;
    align-items   : center;
    text-align    : center;
}

.img_product {
    display: block;
    width  : 250px;
}

button {
    margin-top      : 15px;
    display         : block;
    padding         : 4px;
    color           : #4d4d4d;
    font-size       : 16px;
    font-weight     : 100;
    background-color: #dfdfdf;
}

button:hover {
    background-color: #f5f5f5;
    box-shadow      : 0 0 16px #434445;
}

.gallery_img {
    vertical-align: middle;
}

.gallery_wrap {
    position: relative;
}

.mySlides {
    display: none;
}

.cursor {
    cursor: pointer;
}

.prev,
.next {
    cursor             : pointer;
    position           : absolute;
    top                : 40%;
    width              : auto;
    padding            : 16px;
    margin-top         : -50px;
    color              : white;
    font-weight        : bold;
    font-size          : 20px;
    border-radius      : 0 3px 3px 0;
    user-select        : none;
    -webkit-user-select: none;
}

.next {
    right        : 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
    color    : #f2f2f2;
    font-size: 12px;
    padding  : 8px 12px;
    position : absolute;
    top      : 0;
}

.caption-container {
    text-align      : center;
    background-color: #222;
    padding         : 2px 16px;
    color           : white;
}

.row:after {
    content: "";
    display: table;
    clear  : both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

.message_wrap {
    display        : flex;
    justify-content: center;
    margin-bottom  : 24px;
}

.message {
    width              : 300px;
    color              : white;
    font-family        : sans-serif;
    padding            : 15px;
    border-radius      : 20px;
    background         : rgba(0, 0, 0, 0.7);
    position           : fixed;
    top                : calc(100vh + 20px);
    transition-duration: 0.5s;
}